@import '../common/styles/scss/variables';

.contactBlock{
    min-height: 100vh;
    background-color: $backgroundColor;
    .contactContainer{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        .formBlock{
            display: flex;
            flex-direction: column;
            border: 1px solid;
            width: 100%;
            align-items: center;
            background-color: $backgroundColor;
            padding-top: 30px;
            .input{
                margin: 10px 0;
                height: 50px;
                background: no-repeat;
                box-shadow: none;
                padding: 10px 15px;
                border-color: $secondTextColor;
                border-width: 1px;
                border-radius: 2px;
                line-height: 1.2;
                min-width: 60%;
                max-width: 100%;
                color: white;
            }
            .button{
                height: 50px;
                width: 100px;
                color:$primaryTextColor;
                padding: 20px;
                background-color: $pseudoElementColor;
                border-radius: 10px;
                font-weight: 400;
                display: flex;
                justify-content: center;
                align-items: center;
            }
            @media screen and (max-width: 650px) {
                .formBlock{
                    width: 100%;
                }
            }
        }

    }
}





