@import '../../styles/scss/variables';

.title{
    color: $primaryTextColor;
    position: relative;
    .title h1{
        font-family: 'Poppins', sans-serif ;
        font-weight: 600;
        font-size: 2.5rem;
        line-height: 1.2;
    }
    &::after{
        content: "";
        position: absolute;
        background: $pseudoElementColor;
        width: 100px;
        height: 2px;
        bottom: 15px;
        transform: translate(-50px, 10px);
    }
}



