@import '../common/styles/scss/variables';
.footerBlock{
    height: 100%;
    background-color: $secondBackgroundColor;
    .footerContainer{
        border: none;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        flex-wrap: nowrap;
        color: $primaryTextColor;
        .footerLinks{
            display:flex;
            justify-content: space-around;
            height: 20px;
            width: 300px;
            color: $primaryTextColor;
            margin: 15px 0px;
        }
        .allRights{
            font-family: 'Poppins', sans-serif;
            font-weight: 600;
            line-height: 1.2;
            font-size: 1.3rem;
            padding-top: 10px;
        }
    }
}



